## Enviroment varible api key llm Gemini and credentials app gmail GOOGLE IA STUDIO
#GEMINI_API_KEY=Your_API_KEY_Gemini
#GEMINI_MODEL_LIVE=gemini-2.5-flash-native-audio-latest
#GMAIL_USER=Your_email
#GMAIL_APP_PASSWORD=Your_app_password

## CLOUD - Enviroment variables needed to connect to the LiveKit server
#LIVEKIT_URL=Your_URL_Cloud
#LIVEKIT_API_KEY=Your_API_KEY_Cloud
#LIVEKIT_API_SECRET=Your_Secret_Cloud

## LiveKit Server Local

## LOCAL - Enviroment variables needed to connect to the LiveKit server local
#LIVEKIT_URL=Your_URL_Local
#LIVEKIT_API_KEY=Your_API_KEY_Local
#LIVEKIT_API_SECRET=Your_Secret_Local

## Enviroment variable Local server
#USER_LOCAL=True

## FEATURE MODEL
#VOICE=Sulafat
#TEMPERATURE=0.8
